<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="container">
            <div class="footer-main">
                <div class="content-between">
                    <div>
                        <img src="./assets/imgs/logo.png" width="229" height="56" alt="logo">
                    </div>
                    <div class="footer-main_info">
                        <div>
                            <div><img src="./assets/imgs/telephone.png" alt="image"></div>
                            <div>
                                <span>Hotline</span>
                                <p>0984662186</p>
                            </div>
                        </div>
                        <div>
                            <div><img src="./assets/imgs/message.png" alt="image"></div>
                            <div>
                                <span>Email</span>
                                <p>contact@dtts.com.vn</p>
                            </div>
                        </div>
                        <div>
                            <div><img src="./assets/imgs/oclock.png" alt="image"></div>
                            <div>
                                <span>Thời gian làm việc</span>
                                <p>Thứ 2 - Thứ 6  8:30 - 17:30</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-main_list">
                    <div>
                        <h4>Công ty TNHH DTTS</h4>
                        <p>Lorem ipsum dolor sit amet elit consectetur adipisicing sed do eiusmod tempor incididunt et dolore elit labore</p>
                        <img src="./assets/imgs/certificate.png" alt="image certificate">
                    </div>
                    <div class="footer-main_list_category">
                        <h4>Danh mục</h4>
                        <ul>
                            <li>
                                <a href="#">... Trang chủ</a>
                            </li>
                            <li>
                                <a href="#">... Dịch vụ</a>
                            </li>
                            <li>
                                <a href="#">... Tin tức</a>
                            </li>
                            <li>
                                <a href="#">... Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#">... Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="#">... Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-main_list_contact">
                        <h4>Liên hệ</h4>
                        <ul>
                            <li>
                                <img src="./assets/icons/Message.svg" alt="icon">
                                <p>dungnd@dttts.com.vn</p>
                            </li>
                            <li>
                                <img src="./assets/icons/Call.svg" alt="icon">
                                <p>0984662186</p>
                            </li>
                            <li>
                                <img src="./assets/icons/Location.svg" alt="icon">
                                <p>Tòa nhà Hoàng Ngọc - Ngõ 72 Trần Thái Tông, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                            </li>
                            <li>
                                <img src="./assets/icons/Location.svg" alt="icon">
                                <p>FLC Star Tower 418 - Quang Trung, La Khê, Hà Đông, Hà Nội</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Đăng ký tư vấn</h4>   
                        <div>
                            <p>Đăng ký để nhận tư vấn chi tiết hơn!</p>
                            <div class="form-search">
                                <input type="text" placeholder="Nhập số điện thoại">
                                <div>
                                    <img src="assets/icons/Send.svg" alt="icon">
                                </div>
                            </div>
                        </div>               
                    </div>
                </div>
            </div>
            <div class="footer-second content-between">
                <div>
                    <div><a href="#"><img src="./assets/icons/facebook.svg" alt="icon"></a></div>
                    <div><a href="#"><img src="./assets/icons/twitter.svg" alt="icon"></a></div>
                    <div><a href="#"><img src="./assets/icons/GooglePlus.svg" alt="icon"></a></div>
                    <div><a href="#"><img src="./assets/icons/youtube.svg" alt="icon"></a></div>
                    <div><a href="#"><img src="./assets/icons/instagram.svg" alt="icon"></a></div>
                </div>
                <div>
                    <p>Copyright © 2022. All rights reserved. Thiết kế và phát triển bởi dtts.com.vn</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>