<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="header-top_layout">
                    <div class="header-top_layout-left">
                        <p><span>Hotline:</span>0984662186</p>
                        <p><span>Email:</span>contact@dtts.com.vn</p>
                    </div>
                    <div class="header-top_layout-right">
                        <div>
                            <div>
                                <img src="./assets/icons/iconLgVn.svg" alt="icon">
                            </div>
                            <div>
                                <img src="./assets/icons/iconDown.svg" alt="icon">
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="./assets/icons/iconTwit.svg" alt="icon">
                            </div>
                            <div>
                                <img src="./assets/icons/iconFa.svg" alt="icon">
                            </div>
                            <div>
                                <img src="./assets/icons/iconIn.svg" alt="icon">
                            </div>
                            <div>
                                <img src="./assets/icons/iconTele.svg" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <div class="header-main_layout content-between">
                    <div>
                        <img src="./assets/imgs/logo.png" alt="image logo">
                    </div>
                    <ul class="content-between">
                        <li>
                            <a href="#">Trang chủ</a>
                        </li>
                        <li>
                            <a href="./pages/introduce.html">Giới thiệu</a>
                        </li>
                        <li class="link-popup">
                            <a href="#">Sản phẩm</a>
                            <img src="./assets/icons/iconDown.svg" alt="icon">
                            <div class="menu-popup">
                                <div class="menu-popup_layout">
                                    <ul>
                                        <li>
                                            <a href="#">Hệ thống vận hành quản lý sản xuất</a>
                                        </li>
                                        <li>
                                            <a href="#">Hệ thống quản lý nhân sự và đào tạo nội bộ</a>
                                        </li>
                                        <li>
                                            <a href="#">Hệ thống quản lý tòa nhà văn phòng</a>
                                        </li>
                                        <li>
                                            <a href="#">Hệ thống tiếp nhận, xử lý các yêu cầu hỗ trợ E-Ticket</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="link-popup">
                            <a href="#">Dịch vụ</a>
                            <img src="./assets/icons/iconDown.svg" alt="icon">
                            <div class="menu-popup">
                                <div class="menu-popup_layout">
                                    <ul>
                                        <li>
                                            <a href="#">Hệ thống vận hành quản lý sản xuất</a>
                                        </li>
                                        <li>
                                            <a href="#">Hệ thống quản lý nhân sự và đào tạo nội bộ</a>
                                        </li>
                                        <li>
                                            <a href="#">Hệ thống quản lý tòa nhà văn phòng</a>
                                        </li>
                                        <li>
                                            <a href="#">Hệ thống tiếp nhận, xử lý các yêu cầu hỗ trợ E-Ticket</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <div>
                        <img src="./assets/icons/iconSearch.svg" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>