footer{
    background: url('../imgs/bg-footer.png') center/cover no-repeat;
    min-height: 455px;
    color: #fff;
}
.footer-main{
    padding-top: 80px;
}
.footer-main .footer-main_info{
    display: flex;
    gap: 64px;
}
.footer-main .footer-main_info >div{
    display: flex;
    gap: 8px;
}
.footer-main .footer-main_info >div p{
    font-size: 14px;
    font-weight: 600;
}
.footer-main .footer-main_info >div span{
    font-size: 12px;
    font-weight: 500;
}
.footer-main .footer-main_list{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}
.footer-main .footer-main_list > div:first-child{
    max-width: 324px;
}
.footer-main .footer-main_list > div:first-child img{
    margin-top: 64px;
}
.footer-main .footer-main_list .footer-main_list_category{
    min-width: 200px;
}
.footer-main .footer-main_list .footer-main_list_contact{
    max-width: 376px;
}
.footer-main .footer-main_list > div:last-child{
    min-width: 336px;
}
.footer-main .footer-main_list > div:last-child .form-search{
    margin-top: 31px;
} 
.footer-main .footer-main_list h4{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
}
.footer-main .footer-main_list p{
    color: rgba(204, 204, 204, 1);
}
.footer-main .footer-main_list a{
    color: rgba(204, 204, 204, 1);
}
.footer-main .footer-main_list ul li{
    display: flex;
    gap: 8px;
    margin-bottom: 19px;
}
.footer-second{
    padding: 28px 0;
    border-top: 1px solid rgba(38, 38, 38, 1)
}
.footer-second >div{
    display: flex;
    gap:16px;
}
.footer-second >div>p{
    font-weight: 500;
    color: #fff;
}
