.poster-main--home{
    background: linear-gradient(90deg, #020207 0%, rgba(2, 2, 7, 0.5) 100%), url('../imgs/bg-main.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}
.poster-main--home.poster-main--home--introduce{
    background: linear-gradient(90deg, #020207 0%, rgba(2, 2, 7, 0.5) 100%), url('../imgs/bg-introduce.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}
.poster-main--home.poster-main--home--introduce img{
    margin-bottom: 175px;
}
.poster-main--home.poster-main--home--introduce span{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #000000;
    margin-bottom: 16px;
    margin-right: 20px;
    background: rgba(244, 172, 22, 1);;
}
.poster-main--home .poster-main--home_footer{
    position: absolute;
    bottom: 0;
    background: rgba(204, 204, 204, 0.2);
    width: 100%;
}
.poster-main--home .poster-main--home_footer .container{
    display: flex;
    gap: 61px;
    align-items: center;
    min-height: 80px;
    color: #fff;
}
.poster-main--home .poster-main--home_footer span{
    color: rgba(244, 172, 22, 1);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}
.poster-main--home .poster-main--home_layout{
    color: #fff;
}
.poster-main--home .poster-main--home_layout .poster-main--home_layout_left > div > p{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.poster-main--home .poster-main--home_layout .poster-main--home_layout_left > div > p >  span{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    color: rgba(244, 172, 22, 1);
}
.poster-main--home .poster-main--home_layout .poster-main--home_layout_left > h3{
    max-width: 618px;
    margin-bottom: 24px;
}
.poster-main--home .poster-main--home_layout .poster-main--home_layout_right .form-signIn{
    max-width: 398px;
    background: #fff;
    border-radius: 4px;
    padding: 40px;
    color: #000;
    box-shadow:-40px 40px 0 0 rgba(255, 255, 255, 0.16);

}
.poster-main--home .poster-main--home_layout .poster-main--home_layout_right .form-signIn input{
    background: #F7F7F7;
    outline: none;
}
.poster-main--home .poster-main--home_layout .poster-main--home_layout_right .form-signIn .form-control{
    height: 52px;
}
.main-aboutUs{
    padding: 100px 0 230px;
    position: relative;
}
.main-aboutUs .bg-main-aboutUs{
   position: absolute;
   top: 0;
   left: 368px;
}

.main-aboutUs .main-aboutUs_left{
    max-width: 471px;
}
.main-aboutUs .main-aboutUs_left.main-aboutUs_left--introduce{
    max-width: 704px;
}
.main-aboutUs .main-aboutUs_left.main-aboutUs_left--introduce p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}
.main-destiny .main-destiny_list{
    margin-top: 60px;
    margin-bottom: 120px;
}
.main-destiny .main-destiny_list .main-destiny_list_item{
    width: 459px;
    height: 401px;
    padding: 40px;
    border-radius: 24px;
    border: 2px solid #111111;
    color: #94959B;
    cursor: pointer;

}
.main-foundation{
    margin: 120px 0;
}
.main-foundation .main-foundation_list > div:first-child{
    max-width: 1313px;
    margin: 60px auto;
}
.main-foundation .main-foundation_list > div:last-child{
    max-width: 1313px;
    margin: 60px auto;
}
.main-vision{
    height: 739px;
}
.main-vision .main-vision_left{
    background: #F7F7F7;

}
.main-vision .main-vision_left >div >div{
    max-width: 573px;
    padding: 169px 0;
}
.main-destiny .main-destiny_list .main-destiny_list_item h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #111111;
    margin: 40px 0 17px 0;
}
.main-destiny .main-destiny_list_item:hover{
    background: #262626;
    color: #CCCCCC;
}
.main-destiny .main-destiny_list_item:hover h3{
    color: #ffffff;
}
.main-aboutUs .main-aboutUs_left.main-aboutUs_left--introduce > div  >div{
    display: flex;
    gap: 20px;
    margin-bottom: 52px;
}
.main-aboutUs .main-aboutUs_left.main-aboutUs_left--introduce > div >div span{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #222222;
}
.main-aboutUs .main-aboutUs_left.main-aboutUs_left--introduce > div >div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #94959B;

}
.main-aboutUs .main-aboutUs_left h1{
    margin-bottom: 24px;
}
.main-aboutUs .main-aboutUs_left h2{
    margin-bottom: 24px;
}
.main-aboutUs .main-aboutUs_left > p{
    margin-bottom: 8px;
    color: rgba(169, 169, 169, 1);

}
.main-aboutUs .main-aboutUs_left > p:first-child{
    color: rgba(244, 172, 22, 1);
    text-transform: uppercase;
}
.main-aboutUs .main-aboutUs_left .p-bold{
    color: rgba(17, 17, 17, 1);
    font-weight: 600;
}
.main-aboutUs .main-aboutUs_right{
    min-width: 780px;
    min-height: 588px;
    position: relative;
}
.main-aboutUs .main-aboutUs_right img{
    position: absolute;
    border-radius: 4px;
    right: 71px;
    top: 26px;
}
.main-aboutUs .main-aboutUs_right img:first-child{
    top: 0;
    left: 0;
}
.main-aboutUs .main-aboutUs_right img:last-child{
    right: 0;
    top: 213px;
}
.main-service{
    color: #fff;
    background: #262626;
    padding: 240px 0 120px;
    position: relative;
}

.main-service .detailed-data{
    position: absolute;
    top: -130px;
    width: 100%;
    
}
.main-service .detailed-data .detailed-data_layout{
    width: 1296px;
    height: 260px;
    background: rgba(244, 172, 22, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(17, 17, 17, 1);

}
.main-service .detailed-data .detailed-data_layout h2{
    margin: 0;
}
.main-service .detailed-data .detailed-data_layout p{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.main-service .main-service_info{
    max-width: 630px;
}
.main-service h2{
    margin: 8px 0 32px 0;

}
.main-service .content-center{
    gap:130px;
}
.main-service .main-service_info > p{
    margin: 24px  0;
}
.main-service .main-service_info > div{
    display: flex;
    gap: 104px;
    flex-wrap: wrap;
}
.main-service .main-service_info > div > div > p{
    margin: 16px 0;
}
.main-service .main-service_info  button{
    color: rgba(17, 17, 17, 1);

}
.practice-set{
    padding: 110px 0;
}
.practice-set .content-between{
    padding-top: 64px;
}
.receive-news{
    background: #F4AC16;
    padding: 48px 0;
}
.main-partners{
    position: relative;
    width: 1768px;
    margin: auto;
    text-align: center;
    padding: 120px 0;
}
.main-partners.main-partners--introduce{
    width: 100%;
    background: #262626;
    position: relative;
}

.main-bank{
    background: #FBF8F1;
    padding: 95px 0;
}
.main-bank h2{
    margin-bottom: 64px;
}
.main-partners .main-partners_user{
    text-align: center;
    width: 100%;
    max-width: 384px;
    margin-top: 88px;
}
.main-partners .main-partners_user img{
    margin-bottom: 24px;
}
.main-partners .main-partners_user h3{
    font-weight: 700;
    margin-bottom: 12px;
}
.main-partners .main-partners_user span{
    color: #F4AC16;
    font-weight: 500;
    font-size: 14px;
}
.main-partners .main-partners_user p{
    font-size: 14px;
    margin-top: 12px;
}
.main-news{
    margin: 64px 0 120px 0;
}
.main-news .main-news_header span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #F4AC16;
}
.main-news p{
    
}
.main-news .main-news_header h2{
    margin-bottom: 0;
    margin-top: 12px;
}
.main-news .main-news_header a{
    color: #F4AC16;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    
}
.main-news .main-news_body{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.main-news .main-news_body > div:first-child{
    max-width: 826px;     
}
.main-news .main-news_body > div:first-child h3{
    color: #111111;
    font-weight: 700;
}
.main-news .main-news_body > div:first-child p{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #94959B;
}
.main-news .main-news_body > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-news .main-news_body > div:last-child > div{
    max-width: 581px;  
    display: flex;
}
.main-news .main-news_body > div:last-child > div a div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main-news .main-news_body > div:last-child img{
    margin-right: 16px;
}
.main-news .main-news_body > div:last-child h5{
    font-weight: 700;
    color: #111111;
}
.main-news .main-news_body > div:last-child p{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #94959B;
}
.main-news .main-news_body > div:last-child span{
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #94959B;
}